<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AngularJSDemo</title>
    <script type="text/javascript" src="../plugin/angular.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
	<div data-ng-app="">
    	<h3>AppDemo1</h3>
    	<p>姓:<input type="text" data-ng-model="firstName"/></p>
        <p>名:<input type="text" data-ng-model="lastName"/></p>
        <p>您的姓名是:{{firstName + lastName}}</p>
    </div>

	<br/><hr/><br/>
	
	<div id="app2" data-ng-app="app2" data-ng-controller="ctr2">
    	<h3>AppDemo2</h3>
        <p>初始化参数</p>
    	<p>姓:<input type="text" data-ng-model="firstName"/></p>
        <p>名:<input type="text" data-ng-model="lastName"/></p>
        <p>您的姓名是:{{firstName + " " + lastName}}</p>   
    </div>

	<br/><hr/><br/>
    
    <div id="app3" data-ng-app="app3" data-ng-controller="ctr3">
    	<h3>AppDemo3</h3>
        <p>使用ng-repeat 来循环数组</p>
        <ul data-ng-repeat="i in nameArray">
        	<li>{{ i }}</li>
        </ul>
    </div>

	<br/><hr/><br/>
    
    <div id="app4" data-ng-app="app4">
    	<h3>AppDemo4</h3>
        <p>自定义指令</p>
    	<runoob-directive></runoob-directive>
        <div runoob-directive></div>
    </div>

	<br/><hr/><br/>
    
    <form id="app5" name="myForm" data-ng-app="app5" data-ng-controller="ctr5">
    	<h3>AppDemo5</h3>
        <p>数据验证</p>
        <p>Email:</p>
        <input type="email" name="myAddress" ng-model="myEmail"/>
        <p>您的邮箱是:{{ myForm.myAddress.$viewValue }}</p>
        <p ng-show="myForm.myAddress.$error.email">这不是一个合法邮箱</p>
        <p>{{myForm.myAddress}}</p>
    </form>
    
    <br/><hr/><br/>
    
    <div id="app6" data-ng-app="app6">
    	<h3>AppDemo6</h3>
        <p>作用域</p>
    	<div data-ng-controller="ctr6-1">
        	<p>控制器1中的num:{{num}}</p>
            <p>公共变量rootNum:{{rootNum}}</p>
        </div>
        <div data-ng-controller="ctr6-2">
        	<p>控制器2中的num:{{num}}</p>
            <p>公共变量rootNum:{{rootNum}}</p>
        </div>
    </div>
    
    <br/><hr/><br/>
    
    <div id="app7" data-ng-app="app7">
        <h3>AppDemo7</h3>
        <p>过滤器</p>
        <div data-ng-controller="ctr7">
        	<p>{{firstName}}格式化为小写:{{firstName | lowercase}}</p>
            <p>{{lastName}}格式化为大写:{{lastName | uppercase}}</p>
            <p>{{money}}格式化为货币格式{{money | currency}}</p>
            <ul data-ng-repeat="x in myArray1 | orderBy">
            	<li>{{x}}</li>
            </ul>
            <p>倒序</p>
            <ul data-ng-repeat="x in myArray1 | orderBy:sortSimpleType:true">
            	<li>{{x}}</li>
            </ul>
            <br />
			<ul data-ng-repeat="x in myArray2 | orderBy:'city'">
            	<li>{{x.name + " " + x.city}}</li>
            </ul>
            <br />
            <p>根据输入条件过滤</p>
            <input type="text" data-ng-model="filterText"/>
            <ul data-ng-repeat="x in myArray2 | filter:filterText | orderBy:'name'">
            	<li>{{x.name + " " + x.city}}</li>
            </ul>
            <br />
            <p>自定义过滤器</p>
            <p>{{lastName}} 倒序: {{lastName | reverse}}</p>
          </div>
    </div>
</body>
</html>
